@import 'variables';

/* Simple reset. */
body,
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 2rem;
    color: $color-text;
    font-family: $font-family;
    font-size: 28px;
    overflow:hidden;
    width:100%;
}

.board {
    margin-top: 50px;
    &.dragging{
        background-color: yellow;
    }

    .pool{
        margin: 25px;
        padding: 5px;
        border: solid 1px black;
        user-select: none;
        &.invalid-src,&.invalid-dst{
            background-color: red;
        }
        &.empty:hover{
            background-color: lightgrey;
            color: darkgrey;
        }
    }
    &.dragging .empty.pool:hover {
        background-color: inherit;
        color: $color-text;
    }

    .pool-distance{
        .distance{
            display: flex;
        }
        .step{
            display:inline;
            position: relative;
            width: 10%;
            height: 100px;
            margin: 2px;
            border: solid 1px black;
            &.fill{
                background-color: pink;
            }
        }
    }
    .player-area{
        &.flip{
            transform: rotate(180deg)
        }
    }
}

