@import 'variables';

/* Simple reset. */
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $color-text;
    font-family: $font-family;
    font-size: 30px;
    overflow: hidden;
    width:100%;
}

html, body {
    height: 100%;
    margin: 0;
}

.board {
    display: flex;
    flex-direction: column;
    height: 100%;

    .pool{
        .pool-content{
            border: solid 1px lightgray;
            margin: 1px;
            height: 100%;
        }
        .default-renderer{
            margin: 1px;
            height: 100%;
            padding: 5px;
            text-align: center;
            padding-top: 20px;
        }
        .shadow-renderer {
            padding: 5px;
            div {
                padding: 20px 0 0 20px;
                height: 50%;
            }
        }
        padding: 5px;
        height: 50%;
        user-select: none;
        &.invalid-src,&.invalid-dst{
            background-color: lightsalmon;
        }
        &.empty:hover{
            background-color: lightgrey;
            color: darkgrey;
        }
    }
    &.dragging .empty.pool:hover {
        background-color: inherit;
        color: $color-text;
    }

    .pool-distance{
        .distance{
            display: flex;
        }
        .step{
            display:inline;
            position: relative;
            width: 10%;
            height: 70%;
            margin: 2px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            &.flip{
                transform: translateY(-50%) rotate(180deg)
            }
        }
    }
    .common-area{
        height: 40%;
    }
    .player-area{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: 35%;
        background-color: #dadaff;
        &.flip{
            background-color: #f9ffa9;
        }
        .pool-life {
            width: 100%;
        }
        .pool-aura, .pool-flare {
            width: 50%;
        }
        .pool {
            height: 50%;
            .default-renderer{
                border: solid 1px black;
            }
        }
    }
}

.flip{
    transform: rotate(180deg)
}
